{{$lang := .Lang}}
{{ if isset .Params "lang" }}
  {{ $lang = .Params.lang }}
{{end}}

<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="{{$lang}}">
  <head itemscope itemtype="https://schema.org/WebPage">
    <meta charset="UTF-8">

    <title>{{ block "title" . }}{{ .Title }}{{ end }} &#x23CE; {{ .Site.Params.title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark">

    {{ with default ( slice "index" "follow" ) .Params.robots }}
      <meta name="robots" content="{{ delimit . "," }}">
    {{ end }}
    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">
    <meta name="keywords" content="{{ if .IsPage}}{{ range $index, $tag := .Params.tags }}{{ $tag }},{{ end }}{{ else }}{{ range $plural, $terms := .Site.Taxonomies }}{{ range $term, $val := $terms }}{{ printf "%s," $term }}{{ end }}{{ end }}{{ end }}">

    <base href="{{ .Permalink }}">
    <meta name="url" content="{{ .Permalink }}">

    {{ template "_internal/schema.html" . }}
    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}

    {{ block "meta" . }} {{ end }}

    <link rel="canonical" href="{{ .Permalink }}">
    <link itemprop="url" href="{{ .Permalink }}">

    {{ range .AllTranslations }}
      {{ if .Language.LanguageName }}
        <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
      {{ end }}
    {{ end }}

    <link rel="sitemap" type="application/xml" title="Sitemap" href="{{ "sitemap.xml" | absURL }}">

    {{ with .OutputFormats.Get "RSS" }}
      <link href="{{ .Permalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}">
      <link href="{{ .Permalink }}" rel="feed" type="application/rss+xml" title="{{ $.Site.Title }}">
    {{ end }}

    {{- partial "favicon.html" . -}}

    {{ $sassOptions := ( dict "outputStyle" "compressed" ) }}
    {{ $styleCss := resources.Get "sass/style.sass" | toCSS $sassOptions | fingerprint }}
    <link type="text/css" rel="stylesheet" href="{{ $styleCss.Permalink }}">
    {{ $navigationCss := resources.Get "sass/navigation.sass" | toCSS $sassOptions | fingerprint }}
    <link type="text/css" rel="stylesheet" href="{{ $navigationCss.Permalink }}">

    {{ block "links" . }} {{ end }}
  </head>
  <body>
    <div class="container header">
      <a href="{{ "" | relLangURL }}"><span class="header-image"></span></a>
      <div class="header-text on-large-screen">The DoubleFourteen Code Forge</div>
      <div class="header-text up-to-large-screen">Code Forge</div>
    </div>
      {{- partial "navigation.html" . -}}
      <div id="content" role="main">
      {{- block "main" . }}{{- end }}
      </div>
      {{- partial "footer.html" . -}}
    </body>
</html>
