{{ define "meta" }}
  <meta name="robots" content="noindex">
{{ end }}

{{ define "links" }}
  {{ $sassOptions := ( dict "outputStyle" "compressed" ) }}
  {{ $jsOptions := ( dict "target" "es2018" "minify" true ) }}

  {{ $notfoundCss := resources.Get "sass/notfound.sass" | toCSS $sassOptions | fingerprint }}
  <link type="text/css" rel="stylesheet" href="{{ $notfoundCss.Permalink }}">
  {{ $particlesJs := resources.Get "js/lib/particles.js" | js.Build $jsOptions | fingerprint }}
  <script src="{{ $particlesJs.Permalink }}"></script>
{{ end }}

{{ define "main" }}
  {{ $jsOptions := ( dict "target" "es2018" "minify" true ) }}
  {{ $rainJs := resources.Get "js/rain.js" | js.Build $jsOptions | fingerprint }}

  <h1 class="container page-title">404 &ndash; Page not found</h1>
  <div class="notfound-page">
    <div class="notfound-content">
      <p class="lead">
        Sorry, we've tried very hard but we couldn't find what you were looking for.<br>
        Honest, if you don't believe us just look how sad our HTTP server is.
      </p>
      <p class="notes">
        While we try to soothe our poor server,<br>
         you can <a href="{{ "/" | relURL }}">head back home</a> and try again.
      </p>
    </div>

    <div class="notfound-404-chan"><div id="particles-bg"></div></div>

    <script src="{{ $rainJs.Permalink }}" defer></script>
  </div>
{{ end }}
