{{ define "links" }}
  {{ $sassOptions := ( dict "outputStyle" "compressed" ) }}
  {{ $jsOptions := ( dict "target" "es2018" "minify" true ) }}

  {{ $home := resources.Get "sass/home.sass" | toCSS $sassOptions | fingerprint }}
  <link type="text/css" rel="stylesheet" href="{{ $home.Permalink }}">
  {{ $transmissionJs := resources.Get "js/transmission.js" | js.Build $jsOptions | fingerprint }}
  <script src="{{ $transmissionJs.Permalink }}" defer></script>
{{ end }}

{{ define "main" }}
  <div id="banner-terminal" class="banner-terminal">
    <div id="banner-scanline" class="banner-scanline"></div>
    <div id="banner-burnin" class="banner-burnin"></div>
    <div id="banner-textarea" class="banner-textarea">
      <div class="banner-prompt">
        <span class="flicker" data-text="&gt;&lsqb;">&gt;&lsqb;</span><span class="glitch" data-text="C">C</span><span class="flicker" data-text="&infin;m">&infin;m</span><span class="glitch" data-text="m">m</span><span class="flicker" data-text="u">u</span><span class="glitch" data-text="ni">ni</span><span class="flicker" data-text="ty">ty</span><span class="flicker" data-text="&rsqb;:">&rsqb;:</span>
      </div>
      <div id="banner-msg" class="banner-msg">
        <div id="banner-msg-animate" data-msg='[{"delay": 1000, "text": "Coding··· ⮠"},
                                                {"delay": 5000, "text": "          $ Knowledge. ▆"}]'>
        </div>
      </div>
    </div>
  </div>

  {{ .Content }}

  <div class="container parent-link" style="display:flex; flex-direction: row; justify-content: space-around; margin-top: 2em;">
  </div>
{{ end }}
