<link rel="icon" type="image/svg+xml" href="{{ "/favicon.svg" | relURL }}">
<link rel="alternate icon" sizes="192x192" type="image/png" href="{{ "/favicon-192.png" | relURL }}">
<link rel="alternate icon" sizes="32x32" type="image/png" href="{{ "/favicon-32.png" | relURL }}">
<link rel="alternate icon" sizes="16x16 32x32 48x48 57x57 64x64 72x72 110x110 114x114 120x120 128x128 144x144 152x152" type="image/x-icon" href="{{ "/favicon.ico" | relURL }}">
<link rel="apple-touch-icon" sizes="152x152" type="image/png" href="{{ "/favicon-152-precomposed.png" | relURL }}">
<link rel="apple-touch-icon" sizes="144x144" type="image/png" href="{{ "/favicon-144-precomposed.png" | relURL }}">
<link rel="apple-touch-icon" sizes="120x120" type="image/png" href="{{ "/favicon-120-precomposed.png" | relURL }}">
<link rel="apple-touch-icon" sizes="114x114" type="image/png" href="{{ "/favicon-114-precomposed.png" | relURL }}">
<link rel="apple-touch-icon" sizes="180x180" type="image/png" href="{{ "/favicon-180-precomposed.png" | relURL }}">
<link rel="apple-touch-icon" sizes="72x72" type="image/png" href="{{ "/favicon-72-precomposed.png" | relURL }}">
<link rel="apple-touch-icon" type="image/png" href="{{ "/favicon-57.png" | relURL }}">
