<div class="get-in-touch">
  <!-- twitter -->
  <a class="button twitter-button"
     title="Follow us on Twitter @1414codeforge"
     href="https://twitter.com/1414codeforge">
     <img class="on-light-theme"
          src="{{ "/twitter-logo-blue-64.png" | relURL }}"
          srcset="{{ "/twitter-logo-blue-128.png" | relURL }} 128w,
                  {{ "/twitter-logo-blue-120.png" | relURL }} 120w,
                  {{ "/twitter-logo-blue-114.png" | relURL }} 114w,
                  {{ "/twitter-logo-blue-110.png" | relURL }} 110w,
                  {{ "/twitter-logo-blue-72.png" | relURL }} 72w,
                  {{ "/twitter-logo-blue-64.png" | relURL }} 64w,
                  {{ "/twitter-logo-blue-57.png" | relURL }} 57w,
                  {{ "/twitter-logo-blue-48.png" | relURL }} 48w,
                  {{ "/twitter-logo-blue-32.png" | relURL }} 32w,
                  {{ "/twitter-logo-blue-16.png" | relURL }} 16w"
            sizes="(min-width: 2000px) 128px,
                   (max-width: 2000px) and (min-width: 640px) 2.5vw,
                   8vw"
            max-width="128px"
            alt="Follow us on Twitter @1414codeforge">
     <img class="on-dark-theme"
       src="{{ "/twitter-logo-white-64.png" | relURL }}"
       srcset="{{ "/twitter-logo-white-128.png" | relURL }} 128w,
               {{ "/twitter-logo-white-120.png" | relURL }} 120w,
               {{ "/twitter-logo-white-114.png" | relURL }} 114w,
               {{ "/twitter-logo-white-110.png" | relURL }} 110w,
               {{ "/twitter-logo-white-72.png" | relURL }} 72w,
               {{ "/twitter-logo-white-64.png" | relURL }} 64w,
               {{ "/twitter-logo-white-57.png" | relURL }} 57w,
               {{ "/twitter-logo-white-48.png" | relURL }} 48w,
               {{ "/twitter-logo-white-32.png" | relURL }} 32w,
               {{ "/twitter-logo-white-16.png" | relURL }} 16w"
       sizes="(min-width: 2000px) 128px,
              (max-width: 2000px) and (min-width: 640px) 2.5vw,
              8vw"
       max-width="128px"
       alt="Follow us on Twitter @1414codeforge">
  </a>
  <!-- email -->
  <a class="button email-button"
     title="Drop an email to info@doublefourteen.io"
     href="mailto:info@doublefourteen.io">
    <img class="on-light-theme"
      src="{{ "/mail-gray-64.png" | relURL }}"
      srcset="{{ "/mail-gray-128.png" | relURL }} 128w,
              {{ "/mail-gray-120.png" | relURL }} 120w,
              {{ "/mail-gray-114.png" | relURL }} 114w,
              {{ "/mail-gray-110.png" | relURL }} 110w,
              {{ "/mail-gray-72.png" | relURL }} 72w,
              {{ "/mail-gray-64.png" | relURL }} 64w,
              {{ "/mail-gray-57.png" | relURL }} 57w,
              {{ "/mail-gray-48.png" | relURL }} 48w,
              {{ "/mail-gray-32.png" | relURL }} 32w,
              {{ "/mail-gray-16.png" | relURL }} 16w"
      sizes="(min-width: 2000px) 128px,
             (max-width: 2000px) and (min-width: 640px) 2.5vw,
             8vw"
      max-width="128px"
      alt="Drop an email to info@doublefourteen.io">
    <img class="on-dark-theme"
      src="{{ "/mail-white-64.png" | relURL }}"
      srcset="{{ "/mail-white-128.png" | relURL }} 128w,
              {{ "/mail-white-120.png" | relURL }} 120w,
              {{ "/mail-white-114.png" | relURL }} 114w,
              {{ "/mail-white-110.png" | relURL }} 110w,
              {{ "/mail-white-72.png" | relURL }} 72w,
              {{ "/mail-white-64.png" | relURL }} 64w,
              {{ "/mail-white-57.png" | relURL }} 57w,
              {{ "/mail-white-48.png" | relURL }} 48w,
              {{ "/mail-white-32.png" | relURL }} 32w,
              {{ "/mail-white-16.png" | relURL }} 16w"
      sizes="(min-width: 2000px) 128px,
             (max-width: 2000px) and (min-width: 640px) 2.5vw,
             8vw"
      max-width="128px"
      alt="Drop an email to info@doublefourteen.io">
  </a>
</div>
