<div class="container work-in-progress-content">
  <div class="work-in-progress-text">
    <p>
      Sorry,
      there is nothing to show in this category, <b>yet</b>...
    </p>
  </div>
  <div class="work-in-progress-sign" title="Miku doesn't like to wait for new content."></div>
  </div>
</div>
