// Fira Mono

@font-face
  font-family: 'Fira Mono'
  src: local("Fira Mono"), url("fonts/FiraMono-Regular.woff2") format("woff2"), url("fonts/FiraMono-Regular.woff") format("woff")
  font-weight: 400
  font-style: normal

@font-face
  font-family: 'Fira Mono'
  src: local("Fira Mono Bold"), url("fonts/FiraMono-Bold.woff2") format("woff2"), url("fonts/FiraMono-Bold.woff") format("woff")
  font-weight: 600
  font-style: normal


// Fira Sans

@font-face
  font-family: 'Fira Sans'
  src: local("Fira Sans Light"), url("fonts/FiraSans-Light.woff2") format("woff2"), url("fonts/FiraSans-Light.woff") format("woff")
  font-weight: 300
  font-style: normal

@font-face
  font-family: 'Fira Sans'
  src: local("Fira Sans Light Italic"), url("fonts/FiraSans-LightItalic.woff2") format("woff2"), url("fonts/FiraSans-LightItalic.woff") format("woff")
  font-weight: 300
  font-style: italic

@font-face
  font-family: 'Fira Sans'
  src: local("Fira Sans Regular"), url("fonts/FiraSans-Regular.woff2") format("woff2"), url("fonts/FiraSans-Regular.woff") format("woff")
  font-weight: 400
  font-style: normal

@font-face
  font-family: 'Fira Sans'
  src: local("Fira Sans Medium"), url("fonts/FiraSans-Medium.woff2") format("woff2"), url("fonts/FiraSans-Medium.woff") format("woff")
  font-weight: 500
  font-style: normal

@font-face
  font-family: 'Fira Sans'
  src: local("Fira Sans Medium Italic"), url("fonts/FiraSans-MediumItalic.woff2") format("woff2"), url("fonts/FiraSans-MediumItalic.woff") format("woff")
  font-weight: 500
  font-style: italic

@font-face
  font-family: 'Fira Sans'
  src: local("Fira Sans Bold"), url("fonts/FiraSans-Bold.woff2") format("woff2"), url("fonts/FiraSans-Bold.woff") format("woff")
  font-weight: 600
  font-style: normal

@font-face
  font-family: 'Fira Sans'
  src: local("Fira Sans Bold Italic"), url("fonts/FiraSans-BoldItalic.woff2") format("woff2"), url("fonts/FiraSans-BoldItalic.woff") format("woff")
  font-weight: 600
  font-style: italic

